#root {
  /* lettering and buttons text and background */
  --white: #ffffff;
  /* prime part of logo for us is beta */
  --battleship-grey: #999999;
  /* search button bg */
  --earth-yellow: #febd69;
  /* amazon arrow and cart counter digit */
  --orange-peel: #fe9800;
  /* icon in side of seach button and secondary menu headers */
  --gunmetal: #232f33;
  /* header and footer bg */
  --rich-black: #131921;
}

/* Products.css */

.products-container {
  /* padding: 20px; */
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between cards */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px; /* Fixed width for uniformity */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push content to the top and buttons to the bottom */
}

.product-card:hover {
  border-color: var(--battleship-grey); /* Slight grey outline on hover */
}

.product-image {
  width: 100%;
  height: 100; /* Fixed height to maintain consistency */
  object-fit: cover;
  border-radius: 8px;
}
.product-title {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}

.product-price {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
}

.product-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  margin-top: 10px;
}

.product-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  width: 100%; /* Full width buttons */
}

.product-button:hover {
  background-color: #333;
}

.add-to-cart {
  background-color: var(--earth-yellow);
}

.add-to-cart:hover {
  background-color: #f7c14d;
}

.buy-now {
  background-color: var(--orange-peel);
}

.buy-now:hover {
  background-color: #e68a00;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}


.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: #100f0f;
  transition: background-color 0.3s;
}

.header-buttons button:hover {
  background-color: #0056b3;
}

.auth-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: #100f0f;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #0056b3;
}

/* Signup form */
.signup-form-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-control:invalid {
  border-color: #dc3545;
}

.feedback {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.submit-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #28a745;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #c3e6cb;
  cursor: not-allowed;
}


/* cart modal */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 10px;
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container for the dropdown and search bar */
.search-container {
  display: flex;
  align-items: center;
}

/* Dropdown styling */
.category-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #080808;
  border-radius: 20px;
  margin-right: 0.5rem;
  background-color: #f8f1f1;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: border-color 0.3s;
}

/* Search bar container */
.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Input field styling */
.search-bar input {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 20px;
  margin-right: 0.5rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Button styling */
.search-bar button {
  background: #007bff;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s;
}

/* Hover effect for button */
.search-bar button:hover {
  background-color: #0056b3;
}

/* Focus effect for input */
.search-bar input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (min-width: 800px) {
  .search-container {
    flex-direction: row;
    align-items: stretch;
  }

  .search-bar {
    margin-top: 0.5rem;
  }
}

/* Responsive design */
@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    margin-top: 0.5rem;
  }
}

/* Add styles for search results */
.search-results {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.search-result-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: calc(25% - 1rem);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #fff;
}

.search-result-item img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.search-result-item h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.search-result-item p {
  font-size: 1rem;
  color: #333;
}

/* Footer styling */
.footer {
  background-color: #2d3748; /* Tailwind's bg-gray-800 */
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.footer .footer-message {
  font-size: 1.125rem; /* Tailwind's text-lg */
  margin-bottom: 0.5rem; /* Reduced margin-bottom */
}

.footer .team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer .team-member {
  background-color: #4a5568; /* Tailwind's bg-gray-700 */
  padding: 0.75rem; /* Reduced padding */
  border-radius: 0.5rem; /* Tailwind's rounded-lg */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem;
}

.footer .team-member a {
  color: white;
  transition: color 0.3s;
}

.footer .team-member a:hover {
  color: #a0aec0; /* Tailwind's hover:text-gray-400 */
}

.footer .team-member .icon {
  width: 2rem; /* Tailwind's w-8 */
  height: 2rem; /* Tailwind's h-8 */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.footer .team-member .profile-pic {
  width: 3rem; /* Reduced width for the profile picture */
  height: 3rem; /* Reduced height for the profile picture */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.footer .team-member .name {
  font-size: 0.875rem; /* Tailwind's text-sm */
  margin-top: 0.25rem; /* Reduced margin-top */
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 100vh;
}

.welcome-message {
  font-size: 2rem;
  margin-bottom: 1rem;
  position:center;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Optional: Align items vertically centered */
}

